body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
}

.State {
  height: 75px;
  width: 75px;
  transition: all 500ms ease;
  border: 1px solid;
  margin: 20px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  background: #ccc;
  font-size: 30px;
}

